@import "https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap";

body {
  background-color: $color-point;
  font-family: "Space Mono Reg, Arial, sans-serif";
  font-size: 15px;
  line-height: 25px;
}
