$color-point: #0079ff;
$color-point_viable: #60abff;

$color-red: #f74646;

$light-mode_color_font-gray: #697c9a;
$light-mode_color_font-blue: #4b6a9b;
$light-mode_color_dark: #2b3442;
$light-mode_color_gray: #f6f8ff;
$light-mode_color_white: #fefefe;

$dark-mode_color_dark: #141d2f;
$dark-mode_color_darkgray: #1e2a47;
$dark-mode_color_white: #ffffff;

$font_size_h1: 26px;
$font_line-height_h1: 38px;

$font_size_h2: 22px;
$font_line-height_h2: 33px;

$font_size_h3: 16px;
$font_line-height_h3: 24px;

$font_size_h4: 13px;
$font_line-height_h4: 20px;
